 
/* start css.sty */
.ptmr7t-{font-family: monospace;}
.ptmr7t-{font-family: monospace;}
.pcrr7t-{font-family: monospace;}
.ptmb7t-x-x-160{font-size:160%; font-weight: bold;}
.ptmb7t-x-x-160{ font-weight: bold;}
.ptmb7t-x-x-160{ font-weight: bold;}
.ptmr7t-x-x-85{font-size:85%;font-family: monospace;}
.ptmr7t-x-x-85{font-family: monospace;}
.zptmcm7t-{ font-weight: bold; font-style: italic;}
.zptmcm7t-{ font-weight: bold; font-style: italic;}
.zptmcm7m-{ font-weight: bold; font-style: italic;}
.zptmcm7y-{ font-weight: bold; font-style: italic;}
.ptmb7t-{ font-weight: bold;}
.ptmb7t-{ font-weight: bold;}
.ptmb7t-{ font-weight: bold;}
.ptmri7t-{font-style: italic;}
.ptmri7t-x-x-85{font-size:85%;font-style: italic;}
.ptmb7t-x-x-85{font-size:85%; font-weight: bold;}
.ptmb7t-x-x-85{ font-weight: bold;}
.ptmb7t-x-x-85{ font-weight: bold;}
.zptmcm7t-x-x-85{font-size:85%; font-weight: bold; font-style: italic;}
.zptmcm7t-x-x-85{ font-weight: bold; font-style: italic;}
/* end css.sty */

